<div class="container d-flex justify-content-center align-items-center vh-150">
    <div class="card p-4 shadow-sm cardLogin">
        <h2 class="text-center">Login</h2>
        <form id="loginForm" method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" required>
            </div>
            <button type="submit" class="btn btn-dark w-100">Iniciar Sesion</button>
            <div class="text-center mt-3">
                <a href="/api/sessions/viewregister">¿No posee una cuenta? Registrese</a>
            </div>
        </form>
    </div>
</div>